@import "common/common";
@import "components/home/home";

* {
  box-sizing: border-box;
}
.app {
  height: 100%;
  background-color: #fff;

  & > [ui-view] {
    height: 100%;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
p {
  margin: 0;
}

